<!doctype html>
<html class="scroll-smooth" lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}
    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

      {% comment %} Preload the base font variant for initial page render {% endcomment %}
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% # Prefetch DNS for common CDNs %}
    <link rel="dns-prefetch" href="https://cdn.shopify.com">

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {% # Apple meta tags %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    {{ content_for_header }}
    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="bg-surface font-body text-on-surface antialiased">
    {% sections 'header-group' %}

    <main class="pt-16">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
    {% render 'cart-drawer' %}
    {% render 'organic-scripts' %}
  </body>
</html>
